
/ Search Bar
.search
  = form_tag searches_path do
    = text_field_tag :query
    = submit_tag "Search"
.clearfix
.search


/ Tag Cloud
/ cloud of tags that show most popular tags as big font and less popular tags as small font
#tag_cloud
  - tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class|
    = link_to tag.name, tag_path(tag.name), class: css_class

