/ haml code for the slider (on homepage)
%ul.slider
  %li
    %img{src: "/assets/slideshow/trash.jpg"}/
  %li
    %img{src: "/assets/slideshow/tag.jpg"}/
  %li
    %img{src: "/assets/slideshow/stick.jpg"}/
  %li
    %img{src: "/assets/slideshow/queen.jpg"}/
  %li
    %img{src: "/assets/slideshow/phoebe.jpg"}/
  %li
    %img{src: "/assets/slideshow/owl.jpg"}/
  %li
    %img{src: "/assets/slideshow/lady.jpg"}/
  %li
    %img{src: "/assets/slideshow/girl.jpg"}/
  %li
    %img{src: "/assets/slideshow/five.jpg"}/
  %li
    %img{src: "/assets/slideshow/dissonance.jpg"}/
  %li
    %img{src: "/assets/slideshow/dino.jpg"}/
  %li
    %img{src: "/assets/slideshow/camel.jpg"}/
  %li
    %img{src: "/assets/slideshow/buzz.jpg"}/
  %li
    %img{src: "/assets/slideshow/birdonwall.jpg"}/
  %li
    %img{src: "/assets/slideshow/banksywall.jpg"}/
  %li
    %img{src: "/assets/slideshow/banksybuilding.jpg"}/
  %li
    %img{src: "/assets/slideshow/angryface.jpg"}/
  %li
    %img{src: "/assets/slideshow/angel.jpg"}/