/ haml code for the slider (on homepage)
%ul.slider
  %li
    %img{src: "/assets/images/trash.jpg"}/
  %li
    %img{src: "/assets/images/tag.jpg"}/
  %li
    %img{src: "/assets/images/stick.jpg"}/
  %li
    %img{src: "/assets/images/queen.jpg"}/
  %li
    %img{src: "/assets/images/phoebe.jpg"}/
  %li
    %img{src: "/assets/images/owl.jpg"}/
  %li
    %img{src: "/assets/images/lady.jpg"}/
  %li
    %img{src: "/assets/images/girl.jpg"}/
  %li
    %img{src: "/assets/images/five.jpg"}/
  %li
    %img{src: "/assets/images/dissonance.jpg"}/
  %li
    %img{src: "/assets/images/dino.jpg"}/
  %li
    %img{src: "/assets/images/camel.jpg"}/
  %li
    %img{src: "/assets/images/buzz.jpg"}/
  %li
    %img{src: "/assets/images/birdonwall.jpg"}/
  %li
    %img{src: "/assets/images/banksywall.jpg"}/
  %li
    %img{src: "/assets/images/banksybuilding.jpg"}/
  %li
    %img{src: "/assets/images/angryface.jpg"}/
  %li
    %img{src: "/assets/images/angel.jpg"}/