!!!
%html
  %head
  %body.slideshow
    #slides
      %ul.slides-container 
        %li
          %img{src: '/assets/_slideshow1.jpg'}/
          .container
            .contrast
              %h1.headline="AeroSoul"
              %p.explainer="Discover Street Art by Location"
              
        %li
          %img{src: '/assets/_slideshow3.jpg'}/
          .container
            .contrast
              %h1.headline="AeroSoul"
              %p.explainer="Discover Street Art by Subject Matter"

        %li
          %img{src: '/assets/_slideshow8.jpg'}/
          .container
            .contrast
              %h1.headline="AeroSoul"
              %p.explainer="Collect Your Favorite Pieces"

        %li
          %img{src: '/assets/_slideshow9.jpg'}/
          .container
            .contrast
              %h1.headline="AeroSoul"
              %p.explainer="Do Other Stuff"
              


      %nav.slides-navigation
        %a.next{href: "#"}
          .icon-chevron-right
        %a.prev{href: "#"}
          .icon-chevron-left


  :javascript
    $(function() {
      $('#slides').superslides({
      });
    });
    $(function() {
      var $slides = $('#slides');
      Hammer($slides[0]).on("swipeleft", function(e) {
        $slides.data('superslides').animate('next');
      });

      Hammer($slides[0]).on("swiperight", function(e) {
        $slides.data('superslides').animate('prev');
      });

      $slides.superslides({
        hashchange: true
      });
    });




/ .container.sixteen.columns

/   / haml code for the slider (on homepage)
/   %ul.slider
/     %li
/       %img{src: '/assets/_slideshow1.jpg'}/
/     %li
/       %img{src: '/assets/_slideshow2.jpg'}/
/     %li
/       %img{src: '/assets/_slideshow3.jpg'}/
/     %li
/       %img{src: '/assets/_slideshow4.jpg'}/
/     %li
/       %img{src: '/assets/_slideshow5.jpg'}/
/     %li
/       %img{src: '/assets/_slideshow6.jpg'}/
/     %li
/       %img{src: '/assets/_slideshow7.jpg'}/
/     %li
/       %img{src: '/assets/_slideshow8.jpg'}/
/     %li
/       %img{src: '/assets/_slideshow9.jpg'}/
/       / / :post_show
/       / = image_tag @post.photo_url(:post_show)
