
.container.sixteen.columns

  / haml code for the slider (on homepage)
  %ul.slider
    %li
      %img{src: '/assets/_slideshow1.jpg'}/
    %li
      %img{src: '/assets/_slideshow2.jpg'}/
    %li
      %img{src: '/assets/_slideshow3.jpg'}/
    %li
      %img{src: '/assets/_slideshow4.jpg'}/
    %li
      %img{src: '/assets/_slideshow5.jpg'}/
    %li
      %img{src: '/assets/_slideshow6.jpg'}/
    %li
      %img{src: '/assets/_slideshow7.jpg'}/
    %li
      %img{src: '/assets/_slideshow8.jpg'}/
    %li
      %img{src: '/assets/_slideshow9.jpg'}/
      / / :post_show
      / = image_tag @post.photo_url(:post_show)
