
/ * brb code for when the things are strange *
/ %div.sub
/   %div.sub-text-box
/     %div.sub-text
/       %h1 We Need More Paint! 
/     %h2 AeroSoul is off to find some more spray paint and will return shortly.
/     .sub-link
/       %h2= link_to " Say Hello ", "https://www.linkedin.com/in/nehashah1" , target: '_blank'
/     %p

/   %div.sub-image
/     %img{src: "http://findartmagazine.com/wp-content/uploads/2011/05/FIND-006.jpg"}

.container.sixteen.columns

  / haml code for the slider (on homepage)
  %ul.slider
    %li
      %img{src: '/assets/_slideshow1.jpg'}/
    %li
      %img{src: '/assets/_slideshow2.jpg'}/
    %li
      %img{src: '/assets/_slideshow3.jpg'}/
    %li
      %img{src: '/assets/_slideshow4.jpg'}/
    %li
      %img{src: '/assets/_slideshow5.jpg'}/
    %li
      %img{src: '/assets/_slideshow6.jpg'}/
    %li
      %img{src: '/assets/_slideshow7.jpg'}/
    %li
      %img{src: '/assets/_slideshow8.jpg'}/
    %li
      %img{src: '/assets/_slideshow9.jpg'}/

