!!!
%html
  %head
  %body.slideshow

    #slides
      %ul.slides-container 
        %li
          %img{src: '/assets/_slideshow1.jpg'}/
          .container
            .contrast
              %h1.headline="AeroSoul"
              %p.explainer="Discover Street Art by Location"
              
        %li
          %img{src: '/assets/_slideshow3.jpg'}/
          .container
            .contrast
              %h1.headline="AeroSoul"
              %p.explainer="Discover Street Art by Subject Matter"

        %li
          %img{src: '/assets/_slideshow8.jpg'}/
          .container
            .contrast
              %h1.headline="AeroSoul"
              %p.explainer="Collect Your Favorite Pieces"


      / %nav.slides-navigation
      /   %a.next{href: "#"}
      /     .icon-chevron-right
      /   %a.prev{href: "#"}
      /     .icon-chevron-left


  :javascript
    $(function() {
      $('#slides').superslides();
    });
    $(function() {
      var $slides = $('#slides');
      Hammer($slides[0]).on("swipeleft", function(e) {
        $slides.data('superslides').animate('next');
      });

      Hammer($slides[0]).on("swiperight", function(e) {
        $slides.data('superslides').animate('prev');
      });

      $slides.superslides({
        hashchange: true
      });
    });


