/ haml code for the slider (on homepage)
%ul.slider
  %li
    %img{src: "/assets/slideshow/trash.JPG"}/
  %li
    %img{src: "/assets/slideshow/tag.JPG"}/
  %li
    %img{src: "/assets/slideshow/stick.JPG"}/
  %li
    %img{src: "/assets/slideshow/queen.JPG"}/
  %li
    %img{src: "/assets/slideshow/phoebe.JPG"}/
  %li
    %img{src: "/assets/slideshow/owl.JPG"}/
  %li
    %img{src: "/assets/slideshow/lady.JPG"}/
  %li
    %img{src: "/assets/slideshow/girl.JPG"}/
  %li
    %img{src: "/assets/slideshow/five.JPG"}/
  %li
    %img{src: "/assets/slideshow/dissonance.JPG"}/
  %li
    %img{src: "/assets/slideshow/dino.JPG"}/
  %li
    %img{src: "/assets/slideshow/camel.JPG"}/
  %li
    %img{src: "/assets/slideshow/buzz.JPG"}/
  %li
    %img{src: "/assets/slideshow/birdonwall.JPG"}/
  %li
    %img{src: "/assets/slideshow/banksywall.JPG"}/
  %li
    %img{src: "/assets/slideshow/banksybuilding.JPG"}/
  %li
    %img{src: "/assets/slideshow/angryface.JPG"}/
  %li
    %img{src: "/assets/slideshow/angel.JPG"}/