/ haml code for the slider (on homepage)
%ul.slider
  %li
    %img{src: "http://i.imgur.com/kILK4Lq.jpg"}/
  %li
    %img{src: "http://i.imgur.com/nfq03cE.jpg"}/
  %li
    %img{src: "http://i.imgur.com/ZxF9pv3.jpg"}/
  %li
    %img{src: "http://i.imgur.com/gnKnzte.jpg"}/
  %li
    %img{src: "http://i.imgur.com/StSbWvf.jpg"}/
  %li
    %img{src: "http://i.imgur.com/sHbipZj.jpg"}/
  %li
    %img{src: "http://i.imgur.com/uhSD18t.jpg"}/
  %li
    %img{src: "http://i.imgur.com/W0maH57.jpg"}/
  %li
    %img{src: "http://i.imgur.com/hiZUqRV.jpg"}/
  %li
    %img{src: "http://i.imgur.com/kAuo54i.jpg"}/
  %li
    %img{src: "http://i.imgur.com/07vV64V.jpg"}/
  %li
    %img{src: "http://i.imgur.com/dRws0PA.jpg"}/
  %li
    %img{src: "http://i.imgur.com/UlByE3J.jpg"}/
  %li
    %img{src: "http://i.imgur.com/4qvWD0K.jpg"}/
  %li
    %img{src: "http://i.imgur.com/bibF9Yf.jpg"}/
  / %li
  /   %img{src: "/assets/images/banksybuilding.jpg"}/
  / %li
  /   %img{src: "/assets/images/angryface.jpg"}/
  / %li
  /   %img{src: "/assets/images/angel.jpg"}/