// Code For Re-Sending Confirmation Instructions


.FormPage
  = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    .container
      .five.columns.alpha
        %p
      .seven.columns.omega#LeForm
        .formtitle Resend confirmation instructions
        .row
        .row
          = f.email_field :email, :autofocus => true, :placeholder => "Email"    
        .row
          = f.submit "Resend confirmation instructions" 
