<h1>AeroSoul</h1>

<p>Hey <%= @user.first_name %>,</p>
<br>
<p>Welcome to the Aerosoul Community!</p>

<p>Now that you're here why don't you:</p>
<br>
<ul>
  <li><a href="http://aerosoul.herokuapp.com/posts/new">Create a new post</a></li>
  <li><a href="http://aerosoul.herokuapp.com/users/edit">Edit your profile</a></li>
  <li><a href="http://aerosoul.herokuapp.com/discover"></a>Discover street art</li>
</ul>


