<<<<<<< HEAD
<h1>Welcome to Mailer App</h1>
<p>Welcome <%= @user.first_name %>, thank you for registering!</p>
<p><%= link_to "Edit profile", edit_user_registration_path(@user) %></p>
=======
<h1>AeroSoul</h1>

<p>Hey <%= @user.first_name %>,</p>
<br>
<p>Welcome to the Aerosoul Community!</p>

<p>Now that you're here why don't you:</p>
<br>
<ul>
  <li><a href="http://aerosoul.herokuapp.com/posts/new">Create a new post</a></li>
  <li><a href="http://aerosoul.herokuapp.com/users/edit">Edit your profile</a></li>
  <li><a href="http://aerosoul.herokuapp.com/discover"></a>Discover street art</li>
</ul>


>>>>>>> dev
