/ %h1 Admin
/ - if @user.role == "admin"
/   #admin.container.sixteen.columns
/     .eight.columns.alpha
/       %h4 Posts
/       %p Number of Posts:
/       = @posts.count
/       = @posts.first
/       / - @posts.each do |posts|
/       /   - posts.each do |post|
/       /     %h5= link_to @post.title
/       /     %h6= @post.score

/     .eight.columns.omega
/       %h4 Users
/       %p Number of Users:
/       = @users.count
/ -else
#admin.container.sixteen.columns
  %img{src: '/assets/admin.jpg'}/

