#TOS.container.sixteen.columns
  
  #Box
    %h2 AeroSoul Terms of Service 
    %h5 This Agreement was last modified on May 7, 2014.
    %br
    %p Please read these Terms of Service ("Agreement", "Terms of Service") carefully before using aerosoul.me. ("the Site") operated by AeroSoul ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site at aerosoul.me.
    %br

    %p By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms of Service. 
    %br

    %h6 Intellectual Property
    %p The Site and its original content, features and functionality are owned by AeroSoul and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.
    %br

    %h6 Termination
    %p We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
    %br
    %h6 Links To Other Sites
    %p Our Site may contain links to third-party sites that are not owned or controlled by AeroSoul. AeroSoul has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.
    %br
    %h6 Liability 
    %p The Site is not liable for any loss or damage including without limitation, indirect or consequential loss or damage, arising out of or in connection with the use of this website. The Site endeavours to keep information up-to-date and correct, but makes no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website (or the information or related graphics contained on the website) for any purpose. Any reliance you place on such information is therefore strictly at your own risk. 
    %br
    %h6 Governing Law
    %p This Agreement (and any further rules, policies, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of United Kingdom, without giving effect to any principles of conflicts of law.
    %br
    %h6 Changes To This Agreement 
    %p We reserve the right, at our sole discretion, to modify or replace these Terms of Service by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms of Service.

    %p Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.


