.container-favs
  .favs-container-1
    %h2 Favorite Posts
    - @top_posts.each do |post|
      .post-break
        %hr
      .post-score
        = link_to post.title, post
        = "#{post.score}"
        = image_tag post.photo
    .post-break
      %hr