/ I'm a partial that's used with infinite scrolling

- [@top_posts, @posts].each do |posts|
  - posts.each do |post|
    .post
      .posttitlelink
        = link_to post.title, post
      %br
      %br
      = link_to image_tag(post.photo), post
      / = image_tag post.photo
      / = link_to(image_tag(post.photo), image_path(post))
      %br

 