/ I'm a partial that's used with infinite scrolling

- [@top_posts, @posts].each do |posts|
  - posts.each do |post|
    .post
      = link_to post.title, post
      %br
      = image_tag post.photo
      %br
