%h2 Search results
%ul
  - @posts.each do |post|
    %li
      = link_to post.title, post
      %br
      = truncate(post.description, length: 50, separator: " ")
      %br
      = image_tag post.photo
<<<<<<< HEAD

 
=======
>>>>>>> chore/devise
