
%br

/ tells the index page to load the partial in shared folder. Included a test to see if there actually is a next page of content, if not – don’t display the Load More link.

.posts-index
  = render :partial => 'shared/posts', :locals => { :posts => @posts }
.loadmoreart
  .loadmoreartlink
    = link_to 'Load More Art', posts_path(:page => @next_page, tag: @tag), :class => 'load-more-posts', :remote => true if @next_page
