<div class="container sixteen columns" id="About">
  
  <div id="Box">
    <h1>AeroSoul</h1>

    <h4>Discover &amp; Curate Graffiti and Street Art.</h4>

    <p>AeroSoul is a web application that allows users to discover and curate graffiti and street art. You can discover street art by location, tag, and popularity. You can upload/tag your own images, as well as vote/share all photos on the site. </p>

    <p>It was created by <a href="http://www.nehashah.info" target="_blank">Néha Shah</a>, with guidance from <a href="http://danbarber.me/" target="_blank">Dan Barber</a>, and <a href="http://www.djgrill.com/" target="_blank">David Grilli</a>. AeroSoul is an <a href="https://github.com/owlbytes/AeroSoul" target="_blank">Open Source</a> project and <a href="mailto:neshah07@gmail.com?Subject=AeroSoul Feedback" target="_blank">feedback</a> is welcome.</p>
  </div>
</div>

   