<div class="container sixteen columns" id="About">
  
  <div id="Box">
    <h1>AeroSoul</h1>

    <p>AeroSoul lets you curate and discover street art and graffiti. You can find street art by location or subject, upload/tag images, and upvote and save your favorites. 
    </p>


    <p>It was created by <a href="http://www.nehashah.info" target="_blank">Néha Shah</a>, with guidance from <a href="http://danbarber.me/" target="_blank">Dan Barber</a>, and <a href="http://www.djgrill.com/" target="_blank">David Grilli</a>. AeroSoul is an <a href="https://github.com/owlbytes/AeroSoul" target="_blank">Open Source</a> project and <a href="mailto:neshah07@gmail.com?Subject=AeroSoul Feedback" target="_blank">feedback</a> is welcome.</p>
  </div>
</div>

   