/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*= require "fav"
*= require "Forms"
*= require "mailer"
*= require "maps"
*= require "navigation"
*= require "PostsIndex"
*= require "PostsShow"
*= require "slideshow"
*= require "tags"
*= require "admin"
*= require "Tos_About"
*= require "user"
 */

html {
  font-family: 'Droid Sans', sans-serif;
}
body {
  margin: 0;
}

*, *:before, *:after{
  box-sizing: border-box;
}