
.sub {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  .sub-text-box {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    color: #F26349;
    .sub-link {
      margin-top: 30px;
    }
    a {
      padding: 10px;
      background-color: #F26349;
      color: #FFFFFF;
      border:5px solid #BDE000;
    }
  }

  img {
    margin-top: 20px;
    width: 60%;
    height: auto;
    border:5px solid #BDE000;
  }
}

.sub
  .sub-text

  .sub-image



  .slider {
  margin: 10px 0;
  width: 100%; /* width of slideshow */
  height: 650px; /* height of slideshow */
  position: relative; /* The element is positioned relative to its normal position */
  overflow: hidden;
}

.slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.slider img {
  width: 100%; 
  height: 650px;
}