//Background images

// .form-background-1{
//   background: url("_slideshow1.jpg");
//   background-size: 100%;
//   background-size:cover;
//   background-repeat:no-repeat;
//   background-position:center;
//   width: 100%;
//   height: 800px;
//   padding-top: 03%; 
// }

// .form-background-2{
//   background: url("_slideshow2.jpg");
//   background-size: 100%;
//   background-size:cover;
//   background-repeat:no-repeat;
//   background-position:center;
//   width: 100%;
//   height: 800px;
//   padding-top: 03%; 
// }

// .form-background-3{
//   background: url("_slideshow3.jpg");
//   background-size: 100%;
//   background-size:cover;
//   background-repeat:no-repeat;
//   background-position:center;
//   width: 100%;
//   height: 800px;
//   padding-top: 03%; 
// }

// .form-background-4{
//   background: url("_slideshow4.jpg");
//   background-size: 100%;
//   background-size:cover;
//   background-repeat:no-repeat;
//   background-position:center;
//   width: 100%;
//   height: 800px;
//   padding-top: 03%; 
// }


// ["/assets/images/forms/1.jpg", "/assets/images/forms/2.jpg", "/assets/images/forms/1.jpg"]
$images: ('_slideshow1.jpg', '_slideshow8.jpg', '_slideshow6.jpg');
// $img: nth($images, random(3)($images));

// $img: nth($images, random(length($images)));


.FormPage{
  background: url($images);
  background-size: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
  width: 100%;
  height: 800px;
  padding-top: 03%; 
}


//SignUp
#FormTOS{
  font-size:small;
  a{
    text-decoration: underline;
  }
}

// new post
#post_photo{
  font-size: 15px;
  padding-left: 27%;
}

// Form Text
.formtext{
  color: black;
  text-align: center;
  font-size: 15px;
}

.formtitle{
  color: black;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}



//////////////////////////////////////////

#LeForm {
  background-color: rgba(255,255,255, 0.9); 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border:5px solid #000000;
  font-size: 22px;
  line-height: 30px;
  
  input, 
  label, 
  a{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #000000;
  }

  input[type="submit"] {
    text-align: center; 
    background-color: #000000;
    color: #ffffff;   
    text-align: center; 
    padding: 20px; 
    font-size:medium;
    margin-left: auto;
    margin-right: auto;
  }
}
 
#SMFacebook{
  a{
    color: #ffffff;
    display: block;
    background-color: #3b5998;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a:hover{
  background-color: #ffffff;
  color: #3b5998;
  }

}

#SMGoogle{
  a{
    color: #ffffff;
    display: block;
    background-color: #ce0000;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a:hover{
    background-color:#ffffff;
    color: #ce0000;
  }
}

#user_email,
#user_password,
#user_password_confirmation,
#user_last_name,
#user_first_name,
#user_current_password{
  font-size: 22px;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}

label{
  font-size: 22px;
  font-weight: normal;
}


////errrrr
.field {
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=confirmation],
  input {
    display: inline-block;
  }

  label{
    display: inline-block;
    padding: 4%;
  }

}

#why{
  input,
  input[type=password]{
    display: inline-block;
  }
  display: inline-block;
}
 




