//Background images

.FormPage{
  background-size: 100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  width: 100%;
  height: 800px;
  padding-top: 03%; 
}

#FormPage1{
  background-image:url('forms/1.JPG');
}

#FormPage2{
  background-image:url('forms/2.JPG');
}

#FormPage3{
  background-image:url('forms/3.JPG');
}

#FormPage4{
  background-image:url('forms/4.JPG');
}

#FormPage4{
  background-image:url('forms/5.JPG');
}


//SignUp
#FormTOS{
  font-size:small;
  a{
    text-decoration: underline;
  }
}



//////////////////////////////////////////

#LeForm {
  background-color: rgba(255,255,255, 0.9); 
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border:5px solid #000000;
  font-size: 22px;
  line-height: 30px;
  
  input, 
  label, 
  a{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #000000;
  }

  input[type="submit"] {
    text-align: center; 
    background-color: #000000;
    color: #ffffff;   
    text-align: center; 
    padding: 20px; 
    font-size:medium;
    margin-left: auto;
    margin-right: auto;
  }
}
 
#SMFacebook{
  a{
    color: #ffffff;
    display: block;
    background-color: #3b5998;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a:hover{
  background-color: #ffffff;
  color: #3b5998;
  }

}

#SMGoogle{
  a{
    color: #ffffff;
    display: block;
    background-color: #ce0000;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a:hover{
    background-color:#ffffff;
    color: #ce0000;
  }
}

#user_email,
#user_password,
#user_password_confirmation,
#user_last_name,
#user_first_name{
  font-size: 22px;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}

label{
  font-size: 22px;
  font-weight: normal;
}


////errrrr
.field {
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=confirmation],
  input {
    display: inline-block;
  }

  label{
    display: inline-block;
    padding: 4%;
  }

}

#why{
  input,
  input[type=password]{
    display: inline-block;
  }
  display: inline-block;
}
 




