
.FormPage{
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  width: 100%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.form {
  background-color: rgba(255,255,255, 0.9); 
  // padding: 2rem 10rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 2rem;
  max-width: 26rem;
  border: 0.3rem solid black;

  h1{text-align: center;}

  .links{
    text-align: center;
    a{
      color:white;
      background-color: #333;
      padding: 0.5rem;
      margin: 1rem 0;
      display: block;
    }
  }
}

.SMFacebook{
  a{
    color: #ffffff;
    display: block;
    background-color: #3b5998;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    text-align: center;
    margin: 1rem 0;
  }
  a:hover, a:focus{
  background-color: #ffffff;
  color: #3b5998;
  }

}

.SMGoogle{
  a{
    color: #ffffff;
    display: block;
    background-color: #ce0000;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    text-align: center;
    margin: 1rem 0;
  }
  a:hover, a:focus{
    background-color:#ffffff;
    color: #ce0000;
  }
}

.input{
  margin: 0.5rem 0rem;
  &:after{
    display:block;
    content: "";
    clear: both;
  }
  input {
    width: 13.375rem;
    padding: 0.5rem;
    float: right;
    border: 0.1rem solid black;
    font-size: 0.8rem;

  }

  label{
    float: left;
    width:  5rem;
    line-height: 2rem;
  }

  &.boolean{
    label {
      float: none;
      width: auto;
    }
  }
}

input[type="submit"] {
  color:white;
  background-color: black;
  padding: 0.5rem 0;
  margin: 1rem 0;
  display: block;
  width: 100%;
  font-size:1.5rem;
  border: 0;
}

@media (max-width: 430px){
  .input {
    label{
      float: none;
    }
    
    input{
      width:100%;
    }
  }
}