#LogInPage{
  border:5px solid #BDE000;
  color: #ffffff;
  background-image:url('login.jpg'); 

  input[type="submit"] {
    text-align: center; 
    background-color: #BDE000;
    color: #ffffff;   
    text-align: center; 
    padding-right: 10px; 
    margin-right: 50%;
  }
}

#LogInForm {
  background-color: rgba(242, 99, 73, 0.5);
  // background-color: rgba(255,255,255, 0.7); 
}


      label{
        float:left;
        text-align: right;
        padding-left: 10px;
      }
      input{
        float: right;
        // padding-right: 50px;
        margin-right: 50px;
      }
      input[type="checkbox"] {
        float: center;
        background-color: #BDE000;
      }

        

 
 