#map-canvas-global {
  height: 496px;
  width: 1050px;
  border:5px solid #BDE000;
  margin-left:3.125em;
  vertical-align: middle;
  margin-left:auto;
  margin-right:auto;
}

#autocomplete {
  color: #E92603;
  width: 525px;
  margin-top:10px;
  margin-bottom:15px;
  margin-left: 71px;
  text-align: center;

}