#map-canvas-global {
  height: 496px;
  width: 1050px;
  border:5px solid #BDE000;
  margin-left:3.125em;
  vertical-align: middle;
  margin-left:auto;
  margin-right:auto;
}

#autocomplete {
  color: #E92603;
  width: 525px;
  // margin-right:auto;
  margin-top:10px;
  margin-bottom:15px;
  // margin-left: 190px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
}


.searchbar1 {
  margin-right: auto;
  margin-right: auto;
  vertical-align: center;
  text-align: center;
  .controls {
    text-align: center;
    vertical-align: center;
    border:4px solid #BDE000;
    padding: 4px;
  }
}



