
.navigation-bar {
  // general css for the nav bar
  width: 100%;
  z-index: 10;  // z-index property specifies the stack order of an element
  background-color: red;  
  top: 0;
  right: 0;
  left: 0;

  .user-nav-left {
    // css for the logo 
    float: left;
    padding: 0.5em;
    vertical-align: middle;
  }

  .user-nav-right {
  // css for the links
    display: inline; 
    float: right;
    padding: 0.5em;
  }

  .user-nav-middle {
    // the css for the search bar
    display: inline;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
  }

}

