
#Navigation{
  font-family: 'Droid Sans', sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin-top: 0px;
}

#AccessibilityLink{
  font-size: 0px;
  padding: 0px;
  margin: 0px;
  color: #000000;
  background-color: #000000;
  text-decoration: none;
}


.generalsearchbar,
.generalsearchbarsection,
input[type="text"]{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}



