
#Index{
  width: 99%;
}
#Index_Images {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  // display: inline;

  img {
    border: 0px;
    margin-bottom: 40px;
    display: inline-block;
    padding: 5px;
    width: 32%;
    height: auto;
    margin: 0px;
    opacity: 0.5;

    &.live {
      opacity: 1;
    }
  }

  img:hover {
  }
}

#Search, #searchresults {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  a, h1, h2 {
    color: #F26349;
  }
}

