
.searchresultstitle {
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #F26349;
  border-radius: 4px;
  padding: 4px;
}

// .searchresultsdescription
// .searchresultsphoto
// .header
// .searchresults
