
.slider {
  margin: 10px 0;
  width: 100%; /* width of slideshow */
  height: 650px; /* height of slideshow */
  position: relative; /* The element is positioned relative to its normal position */
  overflow: hidden;
}

.slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.slider img {
  width: 99%; 
  height: 100%;
  border:5px solid #BDE000;
}