#tag_cloud {
  width: 100%;
  text-align: center;
  line-height: 1.6em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  margin-top: 30px;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
  a {
  text-decoration: none;
  color: #000000;
  }
}