#TOS,
#About {
  h1,h2, h3, h4, h5  {
    text-align: center;
    color: #F26349;
  }

  h6, a {
    color: #F26349;
  }
  p {
    color: #000000;
  }
}

#About{
  background-image:url('About.jpg');
  padding: 100px;
}

#TOS{
  background-image:url('TOS.jpg');
  padding: 50px;
}

#Box {
  background-color: rgba(255,255,255, 0.9); 
  border:5px solid #BDE000;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
 
#admin {
  img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: auto;
  }
}