
#TOS,
#About {
  h1,h2, h3, h4, h5  {
    text-align: center;
    color: black;
  }

  a {
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  padding: 1px;
  }
  a:hover{
    color: #000000;
    background-color: #ffffff;
  }

  p {
    color: #000000;
    font-size: 20px;
  }
}

#About{
  background-image:url('About.jpg');
  background-repeat:no-repeat;
  background-size: 100%;
  background-size:cover;
  background-position:center;
  width: 100%;
  height: 800px;
  padding-top: 07%;
}

#TOS{
  background-image:url('TOS.jpg');
  background-repeat:no-repeat;
  background-size: 100%;
  background-size:cover;
  background-position:center;
  width: 100%;
  height: 100%;
  padding-top: 03%;
  padding-bottom: 3%;
  p{
  font-size: 15px;    
  }

}

#Box {
  background-color: rgba(255,255,255, 0.9); 
  border:5px solid #000000;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
 
#admin {
  img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: auto;
  }
}